{{> Navigation/nav-block search=true post=false account=false signup=false}}

<div class="container">
  <header class="create-acct-wrap header-wrap" align="center">
    <h1 class="text-center">Student Roster</h1>

    <h2 class="text-center">Enrolled:</h2>
  </header>
  <div class="row">
    <ul id="example-list" class="list-group">
      {{#each student}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.first_name}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul>
  </div>

</div>